<div class="topbar  fixed-top d-flex flex-column justify-content-center">
    <div id="mySidenav" class="sidenav">
<!--        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>-->
        <a href="/home" id="link3" style="margin-top: 30px;" class="links"><img height="40px" class="glyph" width="25px" src="https://pngimage.net/wp-content/uploads/2018/06/white-home-logo-png-8.png" >Home</a>
        <a href="#" id="link"  class="links"> <img height="40px" class="glyph" width="25px" src="https://www.pinclipart.com/picdir/big/365-3656525_oscar-vector-transparent-academy-awards-clipart.png">Celebrities</a>
        <a href="/selectshow" id="link1" class="links"><img height="40px" class="glyph" width="25px" src="https://www.freeiconspng.com/uploads/white-star-icon-14.png" > Ratings</a>
        <a href="#" id="link2" class="links"> <img height="40px" class="glyph" width="25px" src="http://www.wits.ac.za/media/wits-university/campus-life/images/Calendar-Date-04.png">Events</a>
        <a href="#" id="link3" class="links"><img height="40px" class="glyph" width="25px" src="https://webstockreview.net/images/telephone-clipart-black-and-white-8.png" >About</a>

    </div>
    <div class="row d-flex align-items-center justify-content-between ">
        <div class="  " id="open"  style="margin-left:40px ; font-size:30px;cursor:pointer" onclick="openNav()">
        <img width="40px" height="40px" style="margin-top: 3px" src="/Menu.png">
        </div>
        <div class="margin"  >
            <button  type="button" id="facebook" class="btn btn-primary "></button>
            <button  type="button" id="snapchat" class="btn btn-primary "></button>
            <button type="button" id="youtube" class="btn btn-primary"></button>
            <button onclick="location.href=''" type="button" id="Instagram" class="btn btn-primary"></button>
        </div>
    </div>

</div>